@import '../../styles/utils';

$desktopMarginBottom: 40;
$mobileMarginBottom: 24;

.ProductDetailsPage {
  &__Breadcrumbs {
    @include adaptive-value('margin-bottom', $desktopMarginBottom, $mobileMarginBottom);
  }

  &__BackButton {
    margin-bottom: 16px;
  }

  &__Title {
    @include adaptive-value('margin-bottom', $desktopMarginBottom, $mobileMarginBottom);
  }

  &__Section {
    display: grid;
    grid-template-columns: 12fr 11fr;
    @include adaptive-value('column-gap', 64, 16);
    @include adaptive-value('margin-bottom', 80, 40);

    @include onMobile {
      grid-template-columns: 1fr;
      column-gap: 0;
      @include adaptive-value('row-gap', $desktopMarginBottom, $mobileMarginBottom);
    }
  }

  &__Subtitle {
    @include adaptive-value('margin-bottom', 32, 16);
    @include adaptive-value('padding-bottom', 16, 8);
    border-bottom: $border;
  }
}
