@import '../../styles/utils';

.ProductButtons {
  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: 8px;
  margin-top: 16px;

  &--big {
    grid-template-columns: 1fr 48px;
  }

  &__Heart {
    transition-duration: $amin-time;

    & path {
      transition-duration: $amin-time;
    }

    &--red {
      & path {
        stroke: $c-red;
        fill: $c-red;
      }
    }
  }
}
