$maxWidthContainer: 1056;

$maxMobileWidth: 576px;
$maxTabletWidth: 1023px;

$amin-time: 300ms;

$header-height: 64px;
$header-height-desktop: 64;
$header-height-mobile: 44;
$secondary-button-small-size: 32px;

$c-black: #313237;
$c-dark-grey: #89939A;
$c-grey: #B4BDC4;
$c-light-grey: #E2E6E9;
$c-very-light-grey: #FAFBFC;
$c-white: #fff;
$c-green: #27AE60;
$c-red: #EB5757;

$border: 1px solid $c-light-grey;
